<h1>Listing readers</h1>
<table>
	<tr>
		<th>Name</th>
		<th>Baskets</th>
		<th>Working</th>
	</tr>

<% @readers.each do |reader| %>
	<tr>
		<td><%= reader.name %></td>
		<td><%= reader.baskets %></td>
		<td><%= reader.working %></td>
		<td> link_to "Open", open_reader_path(reader.id) </td>
		<td> link_to "Close", close_reader_path(reader.id) </td>
<% end %>
<% if @readers.size == 0 %>
	<em>No Readers Found</em>
<% end %>
</table>