<h1>Listing tags</h1>
<table>
	<tr>
		<th>Id</th>
		<th>Type</th>
		<th>Active</th>
	</tr>

<% @tags.each do |tag| %>
	<tr>
		<td><%= tag.id %></td>
		<td><%= tag.type %></td>
		<td><%= tag.active %></td>
		<td> link_to "Enter row", enter_tag_path(tag) </td>
		<td> link_to "Leave row", leave_tag_path(tag) </td>
<% end %>
<% if @tags.size == 0 %>
	<em>No Tags Found</em>
<% end %>
</table>
